.AreaHighlight__part {
  cursor: pointer;
  position: absolute;
  background: transparent;
  transition: background 0.3s;
  transition: opacity 0.3s;
}

.AreaHighlight--scrolledTo .AreaHighlight__part {
  background: #ff4141;
}