.TextHighlight {
  position: absolute;
}

.TextHighlight__parts {
  opacity: 1;
}

.TextHighlight__part {
  cursor: pointer;
  position: absolute;
  background: transparent;
  transition: background 0.3s;
  transition: opacity 0.3s;
}

.TextHighlight--scrolledTo .TextHighlight__part {
  background: #ff4141;
}


